h1{
    color: aliceblue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
}

h4{
    color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    color: aliceblue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h5{
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div{
    text-align: right;
}
li{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
 

